.wd-kanbas-navigation.list-group{
    border-radius: 0px;
    width: 83px;
    height: 100%;
}

.wd-kanbas-navigation .list-group-item{
    border: none;
    background-color: black;
    text-align: center;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 70px;
}

.wd-kanbas-navigation a{ 
    color: white;
    text-decoration: none;
}


.wd-kanbas-navigation .list-group-item.active{ 
    color:red;
    background-color:white;
    border: none;
}

.wd-kanbas-navigation .list-group-item.active a { 
    color:black;
}

.logo {
width:55px;
height:55px;   
}

.bigger-icon {
    font-size: 45px;
}
  
.wd-course-navigation.list-group{
    border-radius: 0px;  
    padding-left: 0px;
}

.wd-course-navigation .list-group-item{
    border: none;
    text-align: left;
}

.wd-course-navigation a{ 
    color: red;
    text-decoration: none;
}

.wd-course-navigation .list-group-item.active{ 
    color:black;
    background-color:white;
    border: none;
    border-left: 2px solid black;
}

.wd-course-navigation .list-group-item.active a { 
    color:black;
    text-align: left;
    
}

.profile-button{
    float:right;
    border:none;
    background-color: darkgrey;
}

.hamburger-button{
    float:left;
    background-color: transparent;
    border: none;
    padding-right: 20px;
}

.container{
    padding-right: 10px;
    padding-top: 20px;
    padding-left: 20px;
}


.kanbas-container{
    padding: 0;
    background-color: black;
    width: 83px;
    height: 1000px;
}

.wd-week-list.list-group{
    margin-top: 30px;
    border-radius: 0px;  
}

.wd-week-list .list-group-item{
    border: .5px solid black;
    text-align: left;
    border-left: 3px solid green;
    font-weight: bold;
}

.wd-week-list .second.list-group-item{
    border: .5px solid black;
    text-align: left;
    border-left: 3px solid green;
    font-weight: bold;
    padding-left: 40px;
    font-size:15px
}

.wd-week-list a{ 
    color: red;
    text-decoration: none;
}

.wd-week-list .list-group-item.active{ 
    color:black;
    background-color:lightgray;
    border: none;
    font-weight: bold;
    font-size: 15px;
}



.eclipse{
    border: none;
    background-color: white;
}


.btn-gray {
    color: black;
    background-color: lightgray;
    border-color: lightgray;
}

.topbutton {
    border:none;
    background-color: lightgray;
    height: 37px;
}

.wd-status.list-group{
    margin-top: 0px;
    border-radius: 0px;
}

.wd-status .list-group-item{
    background-color: lightgrey;
    border: 1px solid black;
    font-size: 15px;
}

.wd-status a{ 
    color: black;
    text-decoration: none;
}

.coming .list-group{
    border-radius: 0px;
}

.coming .list-group-item{
    background-color: white;
    border: none;
    font-size: 15px;
}

.coming a{ 
    color: red;
    text-decoration: none;
}

.kanbas a{
    text-decoration: none;
    color: red;
}

.kanbas .dropdown-item.active{
    text-decoration: none;
    background-color: white;
    color: black;
    text-align: right;
}

.course a{
    text-decoration: none;
    color: red;
}

.course .dropdown-item.active{
    text-decoration: none;
    background-color: white;
    color: black;
    text-align: right;
}

.card-title h5{
    font-size:1px;
    padding-left: 10px;
}

.card-padding{
    padding: 5px;
}

.course{
    border: none;
    background-color: white;
}

.dashboard-container{
    padding-left: 40px;
    width: 100%;
}

.card-title {
    font-size: 18px;
}

.module-container{
    padding-right: 30px;
}

.modules-margin{
    margin-bottom: 30px;
    list-style-type:none;
}

.breadcrumb-info{
    color:red;
    text-decoration: none;
}

.breadcrumb-title{
    padding-left: 20px;
    font-size: 25px;
}

.floatRight {
    float: right;
    margin-right: 5px;
}

.small-dropdown{
    width: 1000px;
}

.kanbas-dropdown{
    background-color: black;
}
.btn-primary{
    --bs-btn-color: #fff;
    --bs-btn-bg: black;
    --bs-btn-border-color: black;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: black;
    --bs-btn-hover-border-color: black;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: black;
    --bs-btn-active-border-color: black;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: black;
    --bs-btn-disabled-border-color: #black;
}